@import '../../styles/colors.scss';

.logo {
  background-color: $kronos-green;
  display: flex;
  justify-content: center;
}

#navbar-kronos {
  background-color: $kronos-green;
  padding: 0 1rem;
  .navbar-nav .nav-link {
    color: #ffffff;
    padding: 1rem;

    &.language-switch {
      padding: 2px;
      display: flex;
      img {
        align-self: center;
        flex: 0 0 auto;
        //width: 15px;
        //height: auto;
      }
    }

    &:hover,  &.active {
      background-color: $kronos-green-light;
    }

  }

  .nav-item.show .nav-link {
    color: #d9d9d9;
  }

  .nav-item.dropdown .dropdown-menu {
    border-radius: 0;
    //font-size: 14px;
  }

  .nav-link.highlight {
    background-color: #76C8A6;
  }

  .navbar-brand {
    color: #ffffff
  }
}

.login-menu {
  width: 200px;
}

.logged-in-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-align: center;
  }
}

.logo-container {
  background: $kronos-green;
  padding: 10px!important;

}


.logo-top{
  display: block;
  background: no-repeat center;
}



.logo-top.d-lg-block {
  background: url("images/logonormal.png") no-repeat center;
  background-size: contain;
  height: 160px;
}

.logo-top.d-md-block {
  background: url("images/logowide.png") no-repeat center;
  background-size: contain;
  height: 90px;
}

