.bundle
.buildpath
.project
.idea
db/*.sqlite3
.rvmrc
*.log
tmp/
.sass-cache/
nbproject/
public/system/avatars/
public/system/photos/
public/javascripts/
public/assets
/log/
config/application.yml
vendor/bundle
public/system/articlephotos/
public/system/kronometers/
public/system/elfinder
public/system/backgrounds
public/system/system/
shared/
unicorn.conf.rb
*~
.localeapp
.env
*.pid
.bash-history
*.pid.lock

google-api-credentials.json
/secure_files/
/node_modules/

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.bash_history
