.bundle
db/*.sqlite3
db/schema.rb
Gemfile.lock
.rvmc
*.log
tmp/
.sass-cache/
config/database.yml
nbproject/
public/system/avatars/
public/system/photos/
public/assets/
/public/
/log/
/app/
/script/
/spec/
/vendor/
/config/
/doc/
/db/
/lib/
/test/