.bundle
db/*.sqlite3
Gemfile.lock
.rvmrc
*.log
tmp/
.sass-cache/
config/database.yml
nbproject/
public/system/avatars/
public/system/photos/
public/javascripts/
public/assets
/log/
config/application.yml
vendor/bundle
public/system/articlephotos/
public/system/kronometers/
shared/
unicorn.conf.rb
