!!! 5
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1 Welcome to Kronos, #{@user.name}.
    %p
      I have made an account for you on the website of Kronos.
      You can login using the following details:
    %p
      e-mailadres: #{@user.email}
      %br
      password: #{@password}
    %p
      The password is generated automatically and does not need to be changed. If you do wish to change
      your password you can do this on your personal page on the website
      
    %p
      To go the the Kronos website and login you can simply click on the following link: #{@url}.
      
    %p
      I hope you enjoy our website,
      
    %p
      Kind regards,
    %p
      The secretary of D.A.V. Kronos
