!!! 5
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1 Welkom bij Kronos, #{@user.name}.
    %p
      Ik heb voor jou een account aangemaakt op de website van Kronos.
      Je kunt inloggen met de volgende gegevens:
    %p
      e-mailadres: #{@user.email}
      %br
      wachtwoord: #{@password}
    %p
      Het wachtwoord is automatisch gegenereerd en hoef je dus niet te veranderen. Mocht je het wachtwoord toch
      willen veranderen dan kan dat via je persoonlijke pagina op de website.
      
    %p
      Om naar de Kronos Website te gaan en in te loggen klik je simpelweg op deze link: #{@url}.
      
    %p
      Veel plezier op de Kronos Site
      
    %p
      Vriendelijke Groeten,
    %p
      Wouter Timmermans