.row
  .col-lg-11.col-lg-offset-1
    = form_for(@comment) do |f| 
      = f.label :commenttext , {:class => 'form-control'}
      = f.text_area :commenttext , {:class => 'form-control'}
      = f.submit , {:class => 'form-control'}
