<h1>Documents</h1>

<table class="table table-striped">
<tr>
<th>Documents list</th>
<th></th>
<th></th>
<th></th>
</tr>
<% @folders.each do |folder| %>
<tr>
<td><%= folder.name %></td>
</tr>
<% end %>
<% @kms.each do |km| %>
<tr>
<td><%= km.name %></td>
</tr>
<% end %>
</table>
