%ul{:class => "nav", :id => "white"}
  %li
    #triangle-right
  %li
    = link_to "Overzicht", agendaitems_path
  %li
    = link_to "Wedstrijden", agendaitems_wedstrijden_path
  %li
    = link_to "Archief", agendaitems_archief_path
