%li.span3
  .thumbnail
    = link_to image_tag(photoalbum.photos.first.photo.url :thumb), photoalbum  if photoalbum.photos.first
    .caption
      %h5=photoalbum.name
      - show_to :admin do
        = link_to 'verwijder', photoalbum, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{photoalbum.name}", :class => 'btn'