.row
  .col-lg-12
    %h1
      =t('photoalbum.edit').capitalize

.row
  .col-lg-12
    = render 'form'

.row
  .col-lg-12
    = link_to t('photoalbum.view').capitalize, @photoalbum
    |
    = link_to t('photoalbum.back').capitalize, photoalbums_path
