.row
  .col-md-12
    %h1 
      = t('.photoalbums').capitalize
.row
  = render @photoalbums
.row
  .col-lg-12.text-center
    = will_paginate @photoalbums, :previous_label => '<', :next_label => '>'
-if can? :create, Photoalbum
  .row
    .col-lg-12.text-center
      = icon_button new_photoalbum_path, 'plus', t('add').capitalize