.page-header
  %h1 Fotoalbums

%ul{:class => "thumbnails"}
  = render @photoalbums
  
.span12
  = will_paginate @photoalbums, :previous_label => '<', :next_label => '>'

  
-if can? :create, Photoalbum
  = link_to 'Nieuw Fotoalbum', new_photoalbum_path
