%ul.thumbnails
  - @photoalbum.photos.each do |photo|
    %li.span3
      .thumbnail
        = link_to image_tag(photo.photo.url :thumb), photo
        .caption
          - show_to :admin do
            = link_to 'verwijder', photo, :method => :delete, :confirm => "Weet je het zeker?", :class => 'btn'
