<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agendaitemtype.name %>
</p>


<%= link_to 'Edit', edit_agendaitemtype_path(@agendaitemtype) %> |
<%= link_to 'Back', agendaitemtypes_path %>
