<p><%= @token.access_token %></p>
<p><%= @token.expires_at %></p>
<iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/q4snstf2wU8?list=PL7-UoALcwOdTO7O8aO0SsYrkL5iAxx07n" frameborder="0" allowfullscreen></iframe>