<% @page_specific_scripts_in = "elfinder/kronobox"  %>

<%= javascript_tag do %>

  $().ready(function() {
		var rails_csrf = {};
		rails_csrf[$('meta[name=csrf-param]').attr('content')] = $('meta[name=csrf-token]').attr('content');

		var elf = $('#elfinder').elfinder({
			lang: 'en',
			height: '600',
			url: '/elfinder',
			transport : new elFinderSupportVer1(),
			customData: rails_csrf,
			resizable : false,
			loadTmbs: 0,
		}).elfinder('instance');
  });
  <% end %>
  
<div id='elfinder'></div>