%p Lijkt het je leuk om eens mee te trainen bij Kronos? Dat kan! vul onderstaand formulier in zodat je op de hoogte gehouden kunt worden van alle activiteiten en borrels die Kronos organiseert.
 
%h5 Meetrainen:
%p Je bent altijd welkom om aan te schuiven bij één van onze trainingen. Er is een loopgroep en een technische groep dus ieder denkbaar onderdeel van de atletiek komt aan bod. Je bent altijd vrij om te kiezen waar je voor wilt trainen en kunt ook altijd je eigen onderdeel doen.
 
%h5 Lid worden:
%p Als Kronoslid heb je een Xtra-Card<link> nodig. De jaren van de Atletiekunie gaan in kalenderjaren en zo ook de lidmaatschapsjaren van Kronos. Voor een lidmaatschapsformulier kun je bij een van de bestuurders terecht voor of na de training.