%h5 Meetrainen met Kronos:
%p
  Je bent altijd welkom om aan te schuiven bij één van onze trainingen. Er is een loopgroep en een technische groep, dus ieder denkbaar onderdeel van de atletiek komt aan bod. Je bent altijd vrij om te kiezen waar je voor wilt trainen en kunt ook altijd je eigen onderdeel doen. Info over trainingstijden vind je
  = link_to 'hier.', '/Trainingstijden'

%h5 Proeflid:
%p
  Met het invullen van onderdstaande gegevens kun je 'Proeflid' worden en word je op de hoogte gehouden van alle activiteiten en borrels die Kronos organiseert. Het kost je niets en je krijgt je inloggegevens van de Kronos site die je toegang geven tot onder andere de foto's en contactgegevens van leden.
  
%p
  Na een periode van 4 weken trainen bij Kronos kun je
  = link_to 'lid worden van Kronos', '/Hoe word je lid'
  en kiezen voor een wedstrijd- of een recreant-lidmaatschap. Laat je bijpraten door een bestuurslid of iemand van de TrainingsCommissie wat de voor- en nadelen hiervan zijn.
  
%p
  Kom dus eens trainen bij Kronos!