.row
  .col-lg-12
    %h1.push-down-for-logo= t(:new_mailinglist).capitalize

.row
  .col-lg-12

    = form_for @mailinglist, :validate => true, :html => { :multipart => true }  do |f|

      = render 'fields', :f => f


      #actions
        =f.submit :toevoegen
