- if object.errors.any?
  #error_explanation
    %h2
      - if object.errors.count > 1
        = object.errors.count.to_s + " " + t(:errorpl)
      - else
        = "1 " + t(:error)
      het opslaan van dit
      = object.class.to_s.underscore.humanize.downcase
    %p
      Er waren problemen met de volgende velden:
      %ul
        - object.errors.full_messages.each do |msg|
          %li
            = msg