- if @user.errors.any?
  #error_explanation
    %h2
      - if @user.errors.count > 1
        = @user.errors.count.to_s + " " + t(:errorpl)
      - else
        = "1 " + t(:error)
      het opslaan van dit lid
    %p
      Er waren problemen met de volgende velden:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li
            = msg