- if @user.errors.any?
  #error_explanation
    %h2= pluralize(@user.errors.count, "fout")
    weerhield het opslaan van dit lid
    %p Er waren problemen met de volgende velden:
    %ul
    = @user.errors.full_messages.each do |msg|
      %li= msg