.span12
  .row
    %h1 Uitslagen
  .row
    %ul{:class => "nav nav-tabs"}
      - @slicedresults.each do |resultset|
        %li
          %a{:href => '#' + resultset.first, "data-toggle" => 'tag'}
            = resultset.first
  .row
    .tab-content
      - @slicedresults.each do |resultset|
        %div{:class => "tab-pane", :id => "laatste"}
          .span6
            .row
              %ul
                - resultset.last.each do |result|
                  %li
                    = result.created_at
                    - if result.user
                      = link_to result.user.name, result.user
                    - else
                      = result.username
