.span12
  .row
    %h1
      = 'Uitslagen > ' + @agendaitem.name
  .row
    .span9
      .row
        %ul{:class => "nav nav-tabs"}
          - @agendaitem.events.each do |event|
            %li
              %a{:href => '#event' + event.id.to_s, "data-toggle" => 'tab'}
                = event.eventtype.name
        .tab-content
          - @agendaitem.events.each do |event|
            %div{:class => "tab-pane", :id => 'event' + event.id.to_s}
              %table{:class => "resulttable"}
                %thead
                  %tr
                    %th Wedstrijd ⇕
                    %th Datum ⇕
                    %th Plaats ⇕
                    %th Type ⇕
                    %th Aantal uitslagen ⇕
                %tbody
                  - event.results.each do |result|
                    %tr
                      %td
                        = result.result
                      %td
                        = result.id
                      %td Meer
                      %td Meer
                      %td Meer
    .span3
      .row
        Plaatjes
