%table{:class => "resulttable"}
  %thead
    %tr
      %th Wedstrijd ⇕
      %th Datum ⇕
      %th Plaats ⇕
      %th Type ⇕
  %tbody
    - @results.each do |agendaitem|
      %tr
        %td
          = link_to agendaitem.name, agendaitem_results_path(agendaitem)
        %td
          = agendaitem.date.strftime("%e %B")
        %td
          = agendaitem.location
        %td
          = agendaitem.agendaitemtype.name if agendaitem.agendaitemtype
