!!! 5
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1 A new subscription for an activity
    %p
      #{@username} has subscribed for #{@agendaitem.name}.
    %p
      This subscription was done by #{@user.name}.