!!! 5
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1 Een nieuwe inschrijving voor de activiteit
    %p
      #{@username} heeft zich ingeschreven voor #{@agendaitem.name}.
    %p
      Deze inschrijving is gedaan door #{@user.name}.