!!! 5
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1 Een nieuwe inschrijing voor de activiteit
    %p
      #{@user.name} heeft zich ingeschreven voor #{@agendaitem.name}.
