<div class="col-md-offset-4 col-md-4">
<h3>Enter the password</h3>
<%= form_tag(lustrum_password_path) do %>
  <div class="form-group">
    <label for="lustrum_password">Password</label>
    <input class="form-control" id="lustrum_password" type="password" name="password"/>
  </div>
  <input class="btn btn-primary" type="submit">
<% end %>
</div>