.row
  .col-lg-8.push-down-for-logo
    - if can? :update, @page 
      =link_to "Edit", edit_page_path(@page)
    - if can? :destroy, @page 
      =link_to "verwijder", page_path(@page), :method => :delete, data: { confirm: 'Are you sure?' }
  
    %h1= @page.pagetag.capitalize

    #pagebody

      = page_markdown @page.information
    .col-lg-4