.row
  .col-lg-8.push-down-for-logo
    - if can? :update, @page 
      =link_to t(:edit).capitalize, edit_page_path(@page)
    - if can? :destroy, @page 
      =link_to t(:delete).capitalize, page_path(@page), :method => :delete, data: { confirm: 'Are you sure?' }
    -if I18n.locale == :nl
      %h1= @page.pagetag.capitalize
    -if I18n.locale == :en
      %h1= @page.pagetag_en.capitalize

    #pagebody
      -if I18n.locale == :nl
        = page_markdown @page.information
      -if I18n.locale == :en
        = page_markdown @page.information_en
    .col-lg-4