<h1>Test</h1>
<p>
<%= str = "23:30:20+1:10" %><br />
<% while str.scan(/(\d?\d?\:?\d?\d?\:\d?\d)/).size > 0 %>
  <% gescand = str[/(\d?\d?\:?\d?\d?\:\d?\d)/] %>
  <% hours = gescand.scan(/^(\d?\d)\:\d?\d\:\d?\d|^/)[0][0].to_i %>
  <% minutes = gescand.scan(/(\d\d?)\:\d?\d\.?\d?\d?\d?$/)[0][0].to_i %>
  <% seconds = gescand.scan(/(\d?\d)\.?\d?\d?\d?$/)[0][0].to_i %>
  <% str.gsub!(gescand, (hours*3600 + minutes*60 + seconds).to_s) %>
<% end %>
</p>