common: &common
  adapter: postgresql
  username: postgres
  password:

development:
  <<: *common
  database: kronos_development

test:
  <<: *common
  database: kronos_test

production:
  <<: *common
  database: kronos_production