common: &common
  adapter: postgresql
  host: localhost

development:
  <<: *common
  database: kronos_development

test:
  <<: *common
  database: kronos_test

production:
  <<: *common
  database: kronos_production