%h1 You probably thought this page was alive
=image_tag("404.png", :height => "300", :class => "404_image")
%p Nope, deze pagina is morsdood. Maar niet opgezet door Chuck Testa
%p Je ziet deze pagina waarschijnlijk omdat een link verouderd is of omdat je een verkeerd adres ingetypt hebt. Klik op een van de knoppen van de menubalk of gebruik de terugtoets van je browser om verder te gaan.
%p Extragratis protip: Je kan ook de backspace om je toetsenbord gebruiken om een pagina terug te gaan