%h1 Commissie Lidmaatschap

%ul{:class =>"commission_membership"}
  %li
    = t(:name).capitalize + ": " + @commission_membership.user.name
  %br
  %li
    = t(:commission).capitalize + ": " + @commission_membership.commission.name
  %br
  %li
    = t(:function).capitalize + ": " + @commission_membership.function
  %br