/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require bootstrap-image-gallery
 *= require jquery.fileupload-ui
 *= require style
 *= require markdowncss
 *= require_self
 *= require_tree .
*/


.container.round{
	background: none repeat scroll 0 0 #ffffff;
	padding: 1em;
}


.no-bottom-margin {
	margin-bottom: 0px;
}

header .kronos-logo {
	
	position: absolute;
	top: -10px;

}

.navbar .nav {
	
	margin-left: 90px;

}





body{
	background-color: #dbdbdb;
}

.newsitem {
	margin-bottom: 2em;
	background-color: #eff7ea;
	padding: 1em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	
	
}

.newscontent .span6{
	padding-right: 2em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}


div.navbar-inner {
	background: #39423f; 
}


.field_with_errors {
	position: relative;
}

.field_with_errors input {
	border: 1px solid #DD0000 !important;
	box-shadow: 0 0 8px #FF7777;
}

.field_with_errors .message {
	color: #DD0000;
	font-size: 12px;
	left: auto;
	position: absolute;
	left: 230px;top: 4px;
}