/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree .
*/
body{
background: none repeat scroll 0 0 #F5F6F7;
}

.round{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	padding: 2em;
}
div.navbar-inner {
background: #222222; /* Old browsers */
background: -moz-linear-gradient(top, #222222 0%, #333333 90%, #7dbc53 93%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(90%,#333333), color-stop(93%,#7dbc53)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #222222 0%,#333333 90%,#7dbc53 93%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #222222 0%,#333333 90%,#7dbc53 93%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #222222 0%,#333333 90%,#7dbc53 93%); /* IE10+ */
background: linear-gradient(top, #222222 0%,#333333 90%,#7dbc53 93%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#7dbc53',GradientType=0 ); IE6-9 */
}

.ie-navbar-fix {
  position: fixed;
  top: 34px;
  width: 100%;
  height: 6px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#7dbc53',GradientType=0);
}


.field_with_errors {
  position: relative;
}

.field_with_errors input {
    border: 1px solid #DD0000 !important;
    box-shadow: 0 0 8px #FF7777;
}

.field_with_errors .message {
    color: #DD0000;
    font-size: 12px;
    left: auto;
    position: absolute;
    left: 230px;
    top: 4px;
}