/*
  A grey based theme, inspired by Blinksale and their ColorBurn widget. http://firewheeldesign.com
  
  AUTHOR: Geoffrey Grosenbach http://nubyonrails.com
  
  Colors: 
    dk: 787888
    lt: 4f4f5b
    lter: a8a8a8
    white: ffffff
*/

/* kalender uitlijnen met onderkant van headers van de items aan linkerkant */
.calendar {
  margin: 9px auto 0 auto;
  color: white;
  text-align: center;
}

.calendar th {
    text-align: center;
}

.calendar thead tr {
  color: black;
}

/* kalendermaanden centreren */
.monthpicker {
	text-align:center;
}
/* pointer toevoegen aan kalendermaanden */
.monthpicker a:hover {
	cursor:pointer;
}
/* kalendermaanden iets meer horizontale spacing geving */
.monthpicker > a.head {
    background:none;
	margin:0 3px;
}
/* huidige maand een groene achtergrond geven en iets hoger maken */
th.monthName {
	background: #7dbc53;
	height: 27px;
	color: #fff;
}

.monthName th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
  color: black;
}

.dayName th {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: white;
  color: #7dbc53;
  border: 3px solid white;
}

.otherMonth, .day {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.otherMonth {
  color: #999999;
  background-color: #f8f8f8;
}

td.day {
  background-color: #eee;
  color: black;
}

td.day a {
  padding: 8px 10px;
  display: block;
  color: black;
  text-decoration: none;
}

td.day a.activity {
  background-color: #7dbc53;
}

td.day a.match {
  background-color: #9b5a5a;
}

td.day div {
  padding: 8px 10px;
  display: block;
}

.today {
	background-color: white;
	color: black;
}
