.chatimage {
	background: #eff7ea;
	padding: 1em;
}

.chattext {
	background: #eff7ea;
	padding: 1em;
}

.markItUpEditor#chatmessage_message {
	width: 91.5%;
}

.small-left-margin {
	margin-left: 1%;
}