.chatimage {
	background: #eff7ea;
	padding: 1em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	
}
chatimage-empty{
	padding: 1em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.chatmessages > div:nth-of-type(4n+3) .chattext {
	background: #bbf199;
}

.chatmessages > div:nth-of-type(4n+3) .chatimage {
	background: #bbf199;
}

.chattext {
	background: #eff7ea;
	padding: 1em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.chattext .span5 {
	padding-right: 2em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	
}

.markItUpEditor#chatmessage_message {
	width: 91.5%;
}

.small-left-margin {
	margin-left: 1%;
}

