ul.user {
  list-style-type: none;
}

ul.users {
	list-style-type: none;
}

body{
	padding-top: 100px;
}

img.floatleft{
	float: left;
	margin: 0 10px 10px 0;
	padding-top: 5px;
}

header img {
        position: absolute;
        top: 8px;
        z-index: 2;
}

header {
	font-size: 18px;
}

.navbar .nav > li > a {
	color: #ffffff;
}

.navbar .nav > li > a:hover {
	color: #999999;
}


section h1 {
	font-size: 200%;
}

/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

#404_image {
	text-align: center;
}

hr.no-margin {
        margin: 0px;
}

h2 a {
        text-decoration: none;
        color: #333333;
}

h2 a:hover {
        text-decoration: none;
        color: #666666;
}

h2.kronosactiviteit a {
        color: #7dbc53;
}

h2.acties {
        color: #990000;
}

legend {
        color: #333333;
        font-weight: bold;
        margin: 0px;
        width: 380px;
}

fieldset hr {
        position: relative;
        width: 380px;
        text-align:left
}

.login-form{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding-top : 20px;
}

.login-form a{
	padding : 0px;
	margin-top : 5px;
}

.nav-tabs{
    margin-bottom: 0px;
    margin-left: 8px;
}

.nav-tabs li a{
    position: relative;
    background-color: #bbbdb9;
    color: #ffffff;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #000000;
    padding-bottom: 5px;
    padding-top: 5px;
    bottom: -4px;
    margin-right: 0px;
    z-index: 0;
}

.nav-tabs li.active a{
    background-color: #7dbc53;
    color: #ffffff;
    border: 0px;
    border-radius: 0px;
    box-shadow: 5px 0px 6px -3px #000000;
    padding-top: 9px;
    bottom: 0px;
    z-index: 1;
}

.nav-tabs li a:hover, .nav-tabs li.active a:hover{
    background-color: #7dbc53;
    color: #ffffff;
    border: 0px;
    border-radius: 0px;
}

.resulttable{
    width: 100%;
}

.resulttable thead {
    background-color: #7dbc53;
    color: #ffffff;
}

.resulttable thead th {
    padding: 5px;
    text-align: left;
    font-weight: normal;
}

.resulttable tbody td {
    padding: 5px;
}

.resulttable tbody tr:nth-child(odd) {
    background-color: #eff7ea;
}
