.container {
	width: 960px;
}

ul.user {
  list-style-type: none;
}

ul.users {
	list-style-type: none;
}

body {
	background: #EEEEEE;
}

header {
	padding-top: 20px;
	width: 960px;
}

section {
	margin-top: 2em;
	margin-bottom: 10em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
	border: 1px solid #DEDEDE;
}

section h1 {
	font-size: 200%;
}

/* Round corners */

.round {
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
	border-radius:		 	5px;
}

/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

/* Navigation */


nav {
	background-color: #408254;
	height: 50px;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
	padding-top: 8px;
	padding-bottom: 12px;
	float: left;
	border-right: 1px solid #DEDEDE;

}

nav ul li:hover {

	background-color: #595E54;

}

nav ul li a {
	padding: 15px 5px;
	font-size: 18px;
	font-weight: bold;
	color: white;

}

nav ul li a:visited {
	color: white;
}

nav ul li a:hover {
	text-decoration: none;
	color: white;

}

nav ul ul {
	display: none;
	background-color: #595E54;
	position: absolute;
	top: 70px;
	-moz-border-bottom-right-radius: 	5px;
	-webkit-border-bottom-right-radius:	5px;
	border-bottom-right-radius:		 	5px;
	-moz-border-bottom-left-radius: 	5px;
	-webkit-border-bottom-left-radius:	5px;
	border-bottom-left-radius:		 	5px;

}

nav ul ul li {
	height: 30px;
}

nav ul li:hover ul{
	display: block;


} 

input:not([type="submit"]):not([type="reset"]):not([type="hidden"]):not(.as-input), textarea {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    display: block;
    font-family: "Arial","Helvetica",sans-serif;
    font-size: 14px;
    height: auto;
    padding: 0.3em;
}

#login form input[type="text"], #login form input[type="password"] {
    box-shadow: 0 1px 0 white, 0 -1px 0 #888888;
    max-width: 180px;
    width: 180px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#404_image {
	text-align: center;
}