// Place all the styles related to the Chatmessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding-top : 20px;
}


.login-form a{
	padding : 0px;
	margin-top : 5px;
}
