/* Min-height toegevoegd zodat kleine content niet direct in 3 kolommen wordt gegooid */
div#multicolumn {
	min-height:380px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}