/***FIRST STYLE THE POLAROID SECTION***/ 
#polaroid {
	overflow: hidden; /*clears the floats used below*/
	width: 100%; /*set any width you choose, but a width is needed to clear the floats in Internet Explorer*/
}

/***NOW POSITION THE IMAGES***/
figure {
	/*as the images are held within figure its that we style*/ 
	float: left; /*places the images in a line*/ 
	margin: 10px 20px; /*space between the images*/
}

/**NEXT STYLE THE FRAME AROUND THE IMAGES***/ 
figure {
	padding: 6px 8px 10px 8px; /*size the the frame*/
	/*give the frame background a gradient - see cssdemos.tupence.co.uk/gradients.htm*/
	background: #eee6d8; /*fallback for browsers that don't support gradient*/ 
	background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	/*rotate the images slightly - see http://cssdemos.tupence.co.uk/transform-rotate.htm*/	
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
	-webkit-backface-visibility: hidden; /*prevent rotated text being jagged in Chrome and Safari*/
	/*and add a drop shadow effect - see http://cssdemos.tupence.co.uk/box-shadow.htm*/
	-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .25);
	-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .25);
	box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .25);
}

/**ROTATE ALTERNATE IMAGES THE OPPOSITE WAY USING NTH-CHILD - see http://cssdemos.tupence.co.uk/nth-child.htm**/ 
figure:nth-child(even) {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	-webkit-backface-visibility: hidden; 
	/*because the rotation has changed, we also change the shadow*/
	-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .25);
	-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .25);
	box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .25);
}

/***NEXT WE STYLE THE CAPTIONS TO THE IMAGES USING figcaption***/ 
figcaption {
	text-align: center;
	font-family: 'Reenie Beanie', cursive; /*Reenie Beanie is available through Google Webfonts http://code.google.com/webfonts/specimen/Reenie+Beanie*/
	font-size: 2em;
	color: #454f40;
	letter-spacing: 0.09em;
}

/***FINALLY WE ADD THE STICKY TAPE TO THE IMAGES USING :before PSEUDO ELEMENT - see http://cssdemos.tupence.co.uk/before.htm***/ 
figure:before {
	content: ''; /*whatever is place between '' will appear (for example 'xx' will show two xs), leaving this blank results in an empty block*/ 
	display: block;
	position: absolute; /*lets us place the tape exactly where we want, relative to the figure*/ 
	left: 5px; /*places the tape 5px left of the edge of the figure*/ 
	top: -15px; /*places the tape -15px from the top edge of the figure*/ 
	width: 75px;
	height: 25px;
	background: rgba(222,220,198,0.7);
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	-o-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
}

/*style alternate tapes differently to fit with the different rotation of the images*/ 
figure:nth-child(even):before {
	content: '';
	left: 150px;
	top: -15px;
	width: 55px;
	height: 25px;
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(12deg);
	-o-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
}

/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
figure {
-pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
behavior: url(assets/pie/PIE.htc);
position: relative; /*required to make PIE work*/
padding-top: 10px\9; /*adding \9 will only be read by IE*/ 
padding-right: 10px\9;
}
