$icon-font-path: "/assets/"; 
$grey: #dbdbdb;
$green: #7dbc53;
$dark-green: #39423f;

$pallete-broken-white: #F2F2F2;
$pallete-light-gray: #E6E6E6;
$pallete-gray: #DCDCDA;
$pallete-dark-gray: #C4C4C4;
$pallete-light-green: #72C29B;
$pallete-green: #60AA85;
$pallete-dark-green: #47834B;
$pallete-dirt: #A4A875;


