#banner.jumbotron.collapse.in
  =link_to '×', 'javascript:void(0)', :id => 'hide-banner', :class => 'hide-banner text-right' , :title => 'Verberg banner'
  %h1 
    %span Batatrainingen
  %p &nbsp;
  %p
    %span Sluit aan bij de gratis groepslessen van Kronos en stoom jezelf klaar voor de Bata!
  %p
    =link_to  (icon('info-sign') <<' ' << 'Meer Info'), '/batatrainingen', {:class => 'btn btn-primary btn-lg'}
