%footer.app
  .container
    .row
      .col-xs-8.sponsors
        %p &nbsp; 
        .row 
          .col-xs-3
            = link_to image_tag('sponsors/sponsor-rc.png', height: '50px'), 'http://www.runenschede.nl/' 
          .col-xs-3
            = link_to image_tag('sponsors/sponsor-sk.png', height: '50px'), 'http://www.sportkoepelut.nl/' 
      .col-xs-4.adresgegevens
        %p
          %address
            %b Drienerlose Atletiek Vereniging Kronos<br />
            Postbus 217<br />
            7500 AE Enschede<br />
            = mail_to 'info@kronos.nl'
