.row#footer
  .col-lg-8.sponsors
    = link_to image_tag("RC_Enschede-PMS.jpg", height: '100'), "http://www.runenschede.nl/"
    = link_to image_tag("sportkoepel.jpg", height: '200'), "http://www.studentunion.utwente.nl/studenten/home/nieuws.html/23539/4620/bestuur-sportkoepel"
  .col-lg-4.adresgegevens
    %p 
      %span.emphasis Drienerlose Atletiek Vereniging Kronos<br />
      Postbus 217<br />
      7500 AE Enschede<br />
      info@kronos.nl 