.row#footer
  .col-lg-8.sponsors
    = link_to image_tag("RC_Enschede-PMS.jpg"), "http://www.runenschede.nl/"
    = link_to image_tag("sportraad_logo_125x110.gif"), "http://sportraadut.nl"
  .col-lg-4.adresgegevens
    %p 
      %span.emphasis Drienerlose Atletiek Vereniging Kronos<br />
      Postbus 217<br />
      7500 AE Enschede<br />
      info@kronos.nl 