%footer.app
  .container
    .row
      .col-md-8.sponsors
      .col-md-4.adresgegevens
        %p
          %address
            %b Drienerlose Atletiek Vereniging Kronos<br />
            Postbus 217<br />
            7500 AE Enschede<br />
            = mail_to 'info@kronos.nl'
