%footer.app
  .container
    .row.sponsor-white
      .col-xs-4
        .sponsor-text
          Sponsoren:
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-rdd.PNG', :alt => 'Red Drop Design'), 'https://www.reddropdesign.nl/'
    .row
      .col-md-3.adresgegevens
        %address
          %b Drienerlose Atletiek Vereniging Kronos<br />
          Postbus 217<br />
          7500 AE Enschede<br />
          = mail_to 'info@kronos.nl'
