%footer.app
  .container
    .row
      .col-xs-4.adresgegevens
        %address
          %b Drienerlose Atletiek Vereniging Kronos<br />
          Postbus 217<br />
          7500 AE Enschede<br />
          = mail_to 'info@kronos.nl'
