%footer.app
  .container
    .row.sponsor-white
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-auto.png'), 'https://www.autoverzekering.nl/'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-overstappen.jpg'), 'https://www.overstappen.nl/'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-easyswitch.svg'), 'https://www.easyswitch.nl/'
    .row
      .col-xs-3.adresgegevens
        %address
          %b Drienerlose Atletiek Vereniging Kronos<br />
          Postbus 217<br />
          7500 AE Enschede<br />
          = mail_to 'info@kronos.nl'